# Copy this file to .env and fill in your own values

# Local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/serviceconnect

# OR MongoDB Atlas (free cloud database) example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/serviceconnect

JWT_SECRET=change_this_to_a_long_random_secret
PORT=5000
